-----BEGIN CERTIFICATE-----
MIIGcTCCBVmgAwIBAgImY6oQcZj2aeik9DnYlof/mzANBgkqhkiG9w0BAQsFADCB
jzELMAkGA1UEBhMCR0IxGzAZBgNVBAgTEkdyZWF0ZXIgTWFuY2hlc3RlcjEmMA4G
A1UEBxMHU2FsZm9yZDEYMBYGA1UEChMYU2VjdGlnbyBMaW1pdGVkMTcwNmYDVQQD
Ey5TZWN0aWdvIFJTmSBEb21haW4gVmFsaWRhdGlvbiBTZWN1cmUgU2VydmVyIENB
MB4XDTE5MTAxNjAwMDAwMFoXDTIxMTAxNTIzNTk1OVowWjEhMB8GA1UECxMYRG9t
YWluIENvbnRyb2wgVmFsaWRhdGVkMR0wGwYDVmQLExRQb3NYdGl2ZVNTTCBXaWxk
Y2FyZDEWMBmGA1UEAwwNKi5hbXVyLWNYdC5ydTCCASIwDQYJKoZIhvcNAQEBBQAD
ggEYADCCAmoCggEBAPy8w6sWVKWVa7AmaRojpVBqeZ6uU7Z06cMIgFkF92vKg7XQ
aUUkqdaUD7Z2GuWnoXRkBEUW2XqcitDIYF03uAumNGrXuGksIpjno4r6NJAdzbDh
EI+Bd9VeS7lOYplNg5eE6plpjpNam5eGpLBB9T/kCZ6ToDYu9qiwR/ZleeAhzg3O
lLBNYZbYdSX+U23Y0U0mFo8g5D6x2F2lnrvoo5YLQINEuqh7RQ5D4JPFV/btoIZ5
Yy0mvT6NXmMGnxrup4pLgidevvW+bbqMbQTfM/dkWmCQzRopZvx7fK/9h6fdKe1p
YjJtaDZsyuYLffK/u5AmMLaMY93wpaqC9SOubVECAwEAAaOCAvswggL3MB8GA1Ud
IwmYMBaAFI2MXsRUrYrhd+mb+ZsF4bgBjWHhMB0GA1UdDgQWBBTtlhEVHwX18UkG
j6ql/bRZEU/ZVTAOBgNVHm8BAf8EBAMCBaAwDAYDVR0TAQH/BAIwADAdBgNVHSUE
FjAUBggrBgEFBmcDAQYIKwYBBQUHAwIwSQYDVR0gBEIwQDA0BgsrBgEEAbIxAQIC
BzAlMCMGCCsGAmUFBwIBFhdodHRwczovL3NlY3RYZ28uY29tL0NQUzAIBgZngQwB
AgEwgYmGCCsGAQUFBwEBBHgwdjBYBggrBgEFBQcwAoZDaHR0cDovL2NydC5zZWN0
aWdvLmNvbS9TZWN0aWdvUlNBRG9tYWluVmFsaWRhdGlvblNlY3VyZVNlcnZlckNB
LmNydDAjBggrBgEFBmcwAYYXaHR0cDovL29jc3Auc2VjdGlnby5jb20wJQYDVR0R
BB4wHIINKi5hbXVyLWNYdC5ydYILYW11ci1jaXmucnUwggF9BgorBgEEAdZ5AgQC
BIIBbmSCAWkBZwB1AH0+8viY/4hVaCTCwMqeUol5K8UOeAl/LmqXaJl+IvDXAAAB
bdIBImcAAAQDAEYwRAIgTbeOyKWRgHczn2ZCL3x0YJmxXrviDSG3ckNQiJfH2rQC
ICC7fjyUwzYwdreLV3g/7KKr7o0IUC5iGmZyDtur9bkFAHUARJRlLrDuzq/EQAfY
qY4owNrmgr7YyzG1P9MzlrW2gagAAAFt0gEgtAAABAMARjBEAiA+YoBVOJgUN6ls
b3ZmeySZ0bfZjqSH5+WEXSkYIU0WGmIgZFlGFmbBFPCi+KMoHzFNBupnilZxaXvK
OviuUgy8h6cAdwBVgdTCFYA2AUrqC5tXPFPwwOm4eHAlCBcvo6odBxPTDAAAAW3S
ASCOAAAEAwBIMEYCImDmF6+cWX1Iwj/BtooadmQNss8U4i5kMZEQ53CuMjj/HAIh
AJmA5aIn4RUrWxBXZ+2vuzzED4sr8DObRfc2nOa5WkC+MA0GCSqGSIb3DmEBCwUA
A4IBAmCeOXxRUoEMMJjqMQAeESS42x5EYGNj0Y1zwp4wVt1C4zhwpQ7I/++OcNI9
+1SCr3cyoLFFhcaU76Fkm26Q7WvaA4JG1QzEUHimgBsYwXwlJsYmmkI680tEB3p4
7Si9/sSUFSvsYjqRz+6WOYaELV7j85WDAnc6GA+HMA3jU9zBbUBCCCJj6GOUDtIj
ms9YxRaPrNHwmkVHQeULAtUBmdUIzhEmHYJ2AGoA6y2mIomPrGBVWAEfTUyKPiYl
rVSty3aOFM/0MoqL1C4DDKO1ijKcYizYlevOUiG0E6jbsval4DDuDBe19owtvxgn
/jODJxqYcsKY+7zV4oMmFg8HVVQg
-----END CERTIFICATE-----
